## 10.1 A list is a sequence

리스트는 어떤 값(or 객체)의 스퀀스다.

In [2]:
a = [10,20, 'a', [1,2,3]]
a

[10, 20, 'a', [1, 2, 3]]

In [3]:
len(a)

4

In [4]:
a[0]

10

In [5]:
a[-1]

[1, 2, 3]

In [7]:
empty = []
len(empty)

0

## 10.2 Lists are mutable 리스트는 변경할 수 있다

![List](img/list.jpg)

In [8]:
numbers = [42, 123]

In [12]:
numbers[0] = 5
numbers

[5, 12]

In [14]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [15]:
'Edam' in cheeses

True

## 10.3 Traversing a list 리스트 순회하기

In [16]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

1 부터 10 까지 합 구하기

In [17]:
ten = [1,2,3,4,5,6,7,8,9,10]

total = 0
for num in ten:
    total += num
    
print('Sum = {0}'.format(total))

Sum = 55

## 10.4 List operations

- \+ 는 리스트를 연결시킨다.
- \* 는 리스트를 주어진 숫자만큼 반복한다.

In [19]:
a = [1,2,3]
b = [4,5,6]

a + b + a + b

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [20]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 10.5 List slices

In [1]:
t = ['a', 'b', 'c', 'd','e']  # t = list('abcde')

In [2]:
t[1:3]

['b', 'c']

In [3]:
t[::2]

['a', 'c', 'e']

In [4]:
t[3:]

['d', 'e']

## 10.6 List methods

In [5]:
t

['a', 'b', 'c', 'd', 'e']

In [6]:
t.append('f')
t

['a', 'b', 'c', 'd', 'e', 'f']

표현 안에서는 콤마(,) 는 튜플을 마들어주는  연사자이지만 함수의 인자를 넣는 공간에서는 값들을 구분해주는 역할을 한다.

In [8]:
t.append('x', 'y', 'z')
t

TypeError: append() takes exactly one argument (3 given)

In [10]:
t.append(('x', 'y', 'z'))
t

['a', 'b', 'c', 'd', 'e', 'f', ('x', 'y', 'z')]

In [28]:
t.extend(['g','h','i'])
t

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [30]:
t = list('ghabcbas')
t.sort()
t

['a', 'a', 'b', 'b', 'c', 'g', 'h', 's']

In [31]:
t.sort(reverse=True)
t

['s', 'h', 'g', 'c', 'b', 'b', 'a', 'a']

## 10.7 Map, filter and reduce

#### 리듀스(reduce) 
원소들의 시퀀스를 하나의 값으로 계산하는 작업

In [32]:
t = [1,2,3]
sum(t)

6

In [35]:
def average(t):
    size = len(t)
    total = sum(t)
    return total/size

In [36]:
average(t)

2.0

#### 맵(map)

시퀀스의 각 원소에 함수를 적용시키는 작업

In [38]:
t = [1,2,3]

def multiply_ten(t):
    res = []
    for num in t:
        res.append(num * 10)
    return res

In [39]:
multiply_ten(t)

[10, 20, 30]

#### 필터(filter)

시퀀스의 일부만 선택하는 작업

In [40]:
t = [1,2,3,4,5]

In [41]:
def only_eve(t):
    res = []
    for num in t:
        if num % 2 == 0:
            res.append(num)
    return res

In [42]:
only_eve(t)

[2, 4]

## 10.8 Deleting elements

pop 메쏘드를 사용하면 특정 위치의 원소를 리스트에서 꺼내고 그 값을 리턴한다.

리스트에서는 그 원소가 빠진 나머지 원소들에 대한 리스트로 변경된다.

In [43]:
t = [1,2,3,4,5]
x = t.pop()
x, t

(5, [1, 2, 3, 4])

In [44]:
x2 = t.pop(1)
x2, t

(2, [1, 3, 4])

리스트에서 특정 위치의 원소만 삭제할 경우에는 del 메쏘드를 사용한다.

In [45]:
del t[0]
t

[3, 4]

인덱스 정보 대신 삭제하는 원소를 알고 있다면 remove 메쏘드를 사용할 수 있다.

In [47]:
t.remove(3)
t

[4]

In [48]:
t.remove(5)

ValueError: list.remove(x): x not in list

## Lists and strings

In [49]:
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

In [51]:
s = 'pining for the fjords'
t = s.split()
t

['pining', 'for', 'the', 'fjords']

In [52]:
'-'.join(t)

'pining-for-the-fjords'

## 10.10 Objects and values

In [63]:
a = 'banana'
b = 'banana'

In [64]:
a == b

True

In [65]:
a is b

True

In [66]:
a = [1,2,3]
b = [1,2,3]

In [67]:
a == b

True

In [68]:
a is b

False

In [69]:
c = a

In [70]:
c is a

True

별칭(alias) 를 사용하면 원래 객체가 변하면 별칭에 가르키는 값도 변한다.

In [71]:
a.append(4)
a, c

([1, 2, 3, 4], [1, 2, 3, 4])

## 10.12 List arguments

리스트를 함수의 인자로 전달하면 함수는 리스트에 대한 참조를 받는 것이다.

In [72]:
def delete_head(t):
    del t[0]

In [73]:
letters = list('abc')
delete_head(letters)

print(letters)

['b', 'c']

In [74]:
def bad_delete_head(t):
    t = t[1:]

### 숫자 리스트의 숫자들을 반대로 읽은 숫자로 바꾸는 함수

예)   [123, 456]  ->  [321, 654]

## 10.15 연습문제

### 연습문제 10-1  nested_sum

\>>> t = [[1,2], [3], [4,5,6]]

\>>> nested_sum(t)

21

In [4]:
def nested_sum(t):
    total = 0
    for elem in t:
        if isinstance(elem, list):
            total += nested_sum(elem)
        else:
            total += elem
    return total


t = [[1,2], [3], [4,5,6]]  
nested_sum(t)

21

In [ ]:
def nested_items(t):

In [11]:
type(iter([1]))

list_iterator

### 연습문제 10-2 cumsum

누적 합계

\>>> t = [1,2,3]

\>>> cumsum(t)

[1,3,6]

In [7]:
def cumsum(t):
    tmp = []
    for elem in t:
        if len(tmp) == 0:
            tmp.append(elem)
        else:
            tmp.append(elem + tmp[-1])
    return tmp

In [8]:
t = [1,2,3]
cumsum(t)

[1, 3, 6]

### 짝수 번째 원소는 2배를 곱해서 더하기

Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages